#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
}

.card {
  color: greenyellow;
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 6em;
}

.advice {
  color: hsl(0, 100%, 50%, 80%);
  font-size: smaller;
  font-style: italic;
}

.advice ul {
  list-style: none;
}